<section>
	<form>
		<h3>Request an invite</h3>
		<input class="text-box" type="text" placeholder="Full name" ng-model="">
		<input class="text-box" type="email" placeholder="Email" ng-model="">
		<input class="text-box" type="email" placeholder="Confirm email" ng-model="">
		<input type="submit" class="action button" value="Send">
		<p>Error message from server here.</p>
	</form>
</section>

<section>
	<h3>All done!</h3>
	<p>You will be one of the first to experience Broccoli &amp; Co. when we launch.</p>
	<a ui-sref="invite" ui-sref-active="active" class="button">OK</a>
</section>